.admin__menu{
  float:left;
  padding-right:60px;
  margin-right: 5%;
  border-right:1px solid $color-border-light;
}

.admin__item{
  &+&{
    margin-top:make_em(10,18);
  }
}


.menu__item{
  &+&{
    margin-left:1em;
  }
}
.menu__link{
  color:black;

  &:hover{
    color:$color-red;
  }
}

.menu{
  float:right;
  position: relative;
  top:15px;
}


@media (max-width:1000px) {
  .admin__menu{
    float: none;
    margin-bottom:2em;
    padding-right:0px;
    border-right:none;
  }

  .admin__item{
    display: inline-block;
    &+&{
      margin-top:0px;
      margin-left:2%;
    }
  }

  .menu{
    top:10px;
  }
}

@media (max-width:600px) {
  .admin__menu{
    font-size:0.85em;
  }
}
