/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * CONTENTS
 *
 * SETTINGS
 *
 *
 * GENERIC
 *
 * BASE

 *
 * OBJECTS

 *
 * COMPONENTS

 *
 * TRUMPS

 */
/**
 * #SETTINGS
 */
/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
/**
 * #TOOLS
 */
input, textarea, form {
  font-family: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: transparent; }

textarea {
  resize: vertical; }

/**
 * #GENERIC
 */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*------------------------------------*\
    #RESET
\*------------------------------------*/
/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none; }

/**
 * Apply faux underlines to inserted text via `border-bottom`.
 */
ins {
  border-bottom: 1px solid; }

/*------------------------------------*\
    #BOX-SIZING
\*------------------------------------*/
/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * #BASE
 */
html {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-size: 16px; }

footer {
  text-align: center;
  border-top: 1px solid #E8E8E8;
  margin-top: 6.25em;
  /*100/16*/
  padding: 1.5625em 0px;
  /*25/16*/ }

.commande__error {
  color: red;
  margin-bottom: 1.25em;
  /*20/16*/ }

.error--bordered {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0.9375em 1.25em;
  /*15/16 20/16*/ }

.alert__message {
  margin-bottom: 0.625em;
  /*10/16*/
  font-weight: 700; }

@media (max-width: 800px) {
  footer {
    margin-top: 4em; } }
h1, h2, h3 {
  font-weight: 700;
  text-transform: uppercase; }

.title--logo {
  width: 123px;
  float: left; }

.section__title {
  font-size: 1.25em;
  /*20/16*/
  letter-spacing: 3;
  padding-bottom: 0.5em;
  /*10/20*/
  margin-bottom: 2.5em;
  /*50/20*/
  border-bottom: 1px solid #E8E8E8; }

.page__title {
  font-size: 1.5em;
  /*24/16*/
  text-align: center; }

.page__subtitle {
  color: #A7A7A7;
  letter-spacing: 2px;
  max-width: 550px;
  margin: 0px auto; }

.title__container {
  text-align: center;
  margin-bottom: 5em;
  /*80/16*/ }

.recap__title {
  font-weight: 700;
  text-transform: uppercase; }

.table__subtitle {
  margin-bottom: 0.75em;
  width: 1000px;
  float: left; }

@media (max-width: 1000px) {
  .title__container {
    margin-bottom: 2.5em; } }
@media (max-width: 800px) {
  .page__title {
    font-size: 1.35em; } }
@media (max-width: 600px) {
  .page__title {
    font-size: 1.2em; }

  .title--logo {
    width: 80px; } }
a {
  text-decoration: none; }

.footer__link, .text__link {
  color: #E65252;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .footer__link:hover, .text__link:hover {
    color: #a11717; }

/**
 * #OBJECTS
 */
/*------------------------------------*\
    #LIST-INLINE
\*------------------------------------*/
/**
 * The list-inline object simply displays a list of items in one line.
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-inline > li {
    display: inline-block; }

.wrapper {
  width: 1200px;
  margin: 0px auto; }
  .wrapper.commande__form {
    width: 800px; }

.wrapper--forms {
  width: 55%;
  float: left; 
  margin-left: 30px;
}

.wrapper--admin {
  width: 90%;
  margin: 0px auto; }

@media (max-width: 1250px) {
  .wrapper {
    width: 90%; } }
@media (max-width: 1000px) {
  .wrapper--forms {
    width: 100%;
    float: none; }

  .wrapper.commande__form {
    width: 90%; } }
.logo__img {
  width: 100%; }

header {
  padding: 1.2em 2.5%;
  /*25/16*/
  margin-bottom: 5em;
  /*80/16*/
  border-bottom: 1px solid #E8E8E8; }

.home__buttons {
  margin-top: 2.5em; }

@media (max-width: 800px) {
  header {
    margin-bottom: 3em;
    /*80/16*/ } }
@media (max-width: 600px) {
  header {
    margin-bottom: 2em;
    /*80/16*/ } }
.form__label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875em;
  /*14/16*/
  letter-spacing: 0.5px;
  color: #353535;
  width: 50%;
  float: left; }

.form__part {
  margin-bottom: 5em;
  /*80/16*/ }

.form__section + .form__section {
  margin-top: 1.25em;
  /*20/16*/ }

.select__wrapper {
  position: relative; }
  .select__wrapper:after {
    content: "";
    background: blue;
    width: 25px;
    height: 12px;
    position: absolute;
    display: block;
    right: 0px;
    top: 6px;
    background: url("../img/arrow.png") no-repeat center center;
    background-size: contain;
    -webkit-background-size: contain; }

.form__select {
  border: none;
  background: none;
  padding: 0px;
  -webkit-appearance: none;
  -moz-appearance: none; }

.input--classic {
  width: 50%;
  border-bottom: 1px solid #E8E8E8;
  padding: 0px 0px 0.4375em;
  /*7/16*/
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .input--classic:focus {
    border-bottom: 1px solid #E65252; }

.fut__label, .fut__prix, .prix__multiplicateur {
  float: left; }

.fut__label {
  width: 50%; }

.fut__input {
  width: 40px;
  text-align: center; }

.fut__prix {
  width: 70px;
  text-align: right; }
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.radio-inline {
  display: flex;
  gap: 10px;
}

.radio-column {
  display: flex;
  flex-direction: column;
  max-height: 200px; /* ajustez selon vos besoins */
  overflow-y: auto; /* pour rendre la liste défilante si elle dépasse la hauteur max */
  gap: 5px;
}

.radio-item {
  display: block;
}

#addFolderModal {
  display: none; /* Par défaut, la fenêtre modale est cachée */
  position: fixed;
  z-index: 1; /* Positionne la fenêtre modale au-dessus de tout */
  left: 0;
  top: 0;
  width: 100%; /* Largeur à 100% */
  height: 100%; /* Hauteur à 100% */
  overflow: auto; /* Activez le défilement si nécessaire */
  background-color: rgba(0,0,0,0.4); /* Couleur d'arrière-plan avec opacité */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% depuis le haut et centré horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Largeur de la fenêtre modale à 50% de la largeur de l'écran */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.close-btn {
    color: red;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.prix__multiplicateur, .fut__prix {
  color: #A3A3A3; }

.prix__multiplicateur {
  margin: 0px 40px 0px 3.333333333333%;
  /*40/1200*/ }

.form__futs + .form__futs {
  margin-top: 0.625em;
  /*10/16*/ }

.futs__total {
  margin-top: 2.5em;
  /*40/16*/
  padding-top: 0.9375em;
  /*15/16*/
  border-top: 1px solid #E8E8E8;
  width: 600px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 700; }

.total__number {
  margin-left: 3%;
  /*40/1200*/ }

.form__submit {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: none;
  color: white;
  background: #E65252;
  padding: 0.9375em 1.25em;
  /*15/16 20/16*/
  border-radius: 8px;
  font-size: 0.9em;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .form__submit:hover {
    background: #ce1e1e; }

.input--login {
  width: 90%;
  text-align: left;
  border: 1px solid #E8E8E8;
  padding: 0.75em 1.25em;
  /*12/16 20/16*/
  margin-bottom: 1.875em;
  /*30/16*/ }

.form--new-event {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px; }

.form--new-event.show {
  position: static;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto; }

.bouton--no-user {
  display: block;
  margin-top: 2em; }
  .bouton--no-user:hover {
    color: #E65252; }

@media (max-width: 1000px) {
  .form__label {
    width: 100%;
    float: none; }

  .input--classic {
    float: none;
    width: 100%; }

  .fut__input {
    width: 40px;
    text-align: center; }

  .fut__label {
    float: none;
    width: 100%; }

  .fut__prix {
    width: auto; }

  .prix__multiplicateur {
    margin: 0px 2%; }

  .futs__total {
    width: 100%; } }
.admin__menu {
  float: left;
  padding-right: 60px;
  margin-right: 5%;
  border-right: 1px solid #E8E8E8; }

.admin__item + .admin__item {
  margin-top: 0.55556em; }

.menu__item + .menu__item {
  margin-left: 1em; }

.menu__link {
  color: black; }
  .menu__link:hover {
    color: #E65252; }

.menu {
  float: right;
  position: relative;
  top: 15px; }

@media (max-width: 1000px) {
  .admin__menu {
    float: none;
    margin-bottom: 2em;
    padding-right: 0px;
    border-right: none; }

  .admin__item {
    display: inline-block; }
    .admin__item + .admin__item {
      margin-top: 0px;
      margin-left: 2%; }

  .menu {
    top: 10px; } }
@media (max-width: 600px) {
  .admin__menu {
    font-size: 0.85em; } }
.admin__table {
  width: 75%; }
  .admin__table + .table__subtitle {
    margin-top: 3em; }

thead {
  border-bottom: 1px solid #E8E8E8; }

th {
  color: #A7A7A7;
  text-transform: uppercase;
  font-weight: 700; }

thead:after {
  content: "-";
  display: block;
  line-height: 0.55556em;
  color: transparent; }

td {
  padding-top: 0.55556em;
  padding-bottom: 0.55556em; }

tr + tr {
  border-top: 1px solid #E8E8E8; }

.td--actions {
  font-size: 1.22222em; }

.table__link {
  color: #E65252;
  background: none;
  border: none; }
  .table__link + .table__link {
    margin-left: 0.45455em; }

.table__form {
  display: inline; }

.bouton--admin {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: none;
  color: white;
  background: #E65252;
  padding: 0.8em 1.2em;
  /*15/16 20/16*/
  border-radius: 6px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .bouton--admin + .admin__table {
    margin-top: 2em; }
  .bouton--admin:hover {
    background: #ce1e1e; }

.paragraphe--nodatas {
  margin-bottom: 2em; }

@media (max-width: 1000px) {
  .admin__table {
    width: 100%; } }
@media (max-width: 800px) {
  .admin__table {
    font-size: 0.9em; } }
@media (max-width: 550px) {
  .admin__table {
    font-size: 0.8em; }

  .responsive__hide {
    display: none; } }
/**
 * #COMPONENTS
 */
.login__container {
  width: 380px;
  padding: 3.125em 1.785714285714%;
  /*50/16*/
  /*30/1680*/
  margin: 1.875em auto 0px;
  /*30/16*/
  text-align: center;
  border-radius: 8px;
  border: 1px solid #E8E8E8;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.1); }

@media (max-width: 400px) {
  .login__container {
    width: 90%; } }
.recap__part + .recap__part {
  margin-top: 5em;
  margin-left: 5em;
  /*80/16*/ }

.recap__inventaire + .recap__inventaire {
  margin-top: 1.25em;
  /*20/16*/ }

.element__nom {
  font-weight: 700;
  margin-right: 10px; }

.recap__total {
  font-weight: 700;
  margin-top: 1.875em;
  /*30/16*/
  text-transform: uppercase; }

.recap__matos {
  margin-top: 1em; }

/**
 * #TRUMPS
 */
/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/
/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.2/3`) or a spoken-
 * word format (e.g. `two-thirds`). Toggle formats by overriding the
 * `$inuit-use-fractions` variable defined below.
 */
/**
 * Whole.
 */
.one-whole {
  width: 100% !important; }

/**
 * Halves.
 */
.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths,
.six-twelfths {
  width: 50% !important; }

/**
 * Thirds.
 */
.one-third,
.two-sixths,
.three-ninths,
.four-twelfths {
  width: 33.3333333% !important; }

.two-thirds,
.four-sixths,
.six-ninths,
.eight-twelfths {
  width: 66.6666666% !important; }

/**
 * Quarters.
 */
.one-quarter,
.two-eighths,
.three-twelfths {
  width: 25% !important; }

.three-quarters,
.six-eighths,
.nine-twelfths {
  width: 75% !important; }

/**
 * Fifths.
 */
.one-fifth,
.two-tenths {
  width: 20% !important; }

.two-fifths,
.four-tenths {
  width: 40% !important; }

.three-fifths,
.six-tenths {
  width: 60% !important; }

.four-fifths,
.eight-tenths {
  width: 80% !important; }

/**
 * Sixths.
 */
.one-sixth,
.two-twelfths {
  width: 16.6666666% !important; }

.five-sixths,
.ten-twelfths {
  width: 83.3333333% !important; }

/**
 * Eighths.
 */
.one-eighth {
  width: 12.5% !important; }

.three-eighths {
  width: 37.5% !important; }

.five-eighths {
  width: 62.5% !important; }

.seven-eighths {
  width: 87.5% !important; }

/**
 * Ninths.
 */
.one-ninth {
  width: 11.1111111% !important; }

.two-ninths {
  width: 22.2222222% !important; }

.four-ninths {
  width: 44.4444444% !important; }

.five-ninths {
  width: 55.5555555% !important; }

.seven-ninths {
  width: 77.7777777% !important; }

.eight-ninths {
  width: 88.8888888% !important; }

/**
 * Tenths.
 */
.one-tenth {
  width: 10% !important; }

.three-tenths {
  width: 30% !important; }

.seven-tenths {
  width: 70% !important; }

.nine-tenths {
  width: 90% !important; }

/**
 * Twelfths.
 */
.one-twelfth {
  width: 8.3333333% !important; }

.five-twelfths {
  width: 41.6666666% !important; }

.seven-twelfths {
  width: 58.3333333% !important; }

.eleven-twelfths {
  width: 91.6666666% !important; }

/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
 * Margin helper classes.
 *
 * Add margins.
 */
.m {
  margin: 24px !important; }

.mt {
  margin-top: 24px !important; }

.mr {
  margin-right: 24px !important; }

.mb {
  margin-bottom: 24px !important; }

.ml {
  margin-left: 24px !important; }

.mh {
  margin-right: 24px !important;
  margin-left: 24px !important; }

.mv {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

/**
 * Add huge margins.
 */
.m\+\+ {
  margin: 96px !important; }

.mt\+\+ {
  margin-top: 96px !important; }

.mr\+\+ {
  margin-right: 96px !important; }

.mb\+\+ {
  margin-bottom: 96px !important; }

.ml\+\+ {
  margin-left: 96px !important; }

.mh\+\+ {
  margin-right: 96px !important;
  margin-left: 96px !important; }

.mv\+\+ {
  margin-top: 96px !important;
  margin-bottom: 96px !important; }

/**
 * Remove margins.
 */
.m0 {
  margin: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mh0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.hide {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px; }

.text-cut {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  /* pour Opera 9 */
  text-overflow: ellipsis;
  /* pour le reste du monde */ }


  .stacked-icons {
    margin-top: 20px;
    text-align: center;
    size: 20%;
  }
  .fa-stack + .fa-stack { margin-left: .3em; }
  .fa-stack { margin-bottom: 20px; }

  
  .badge {
    position: absolute;
    right: 60px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }